[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/share/:id"
  to = "/.netlify/functions/get-share?id=:id"
  status = 200

[[headers]]
  for = "/.well-known/*"
  [headers.values]
    Content-Type = "application/json"
    Access-Control-Allow-Origin = "*"
